@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 16px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 0.5rem;
}

.flex-row {
  display: flex;
}

.button {
  flex-basis: 25%;
  font-size: 1.5em;
  text-align: center;
  padding: 1.5rem 1rem;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}

.button:hover {
  background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
}

.operator,
.equals,
.plus-minus,
.clear,
.delete,
.percent,
.comma {
  color: orangered;
}

.comma {
  font-size: 2.5em;
  line-height: 0.5;
}

.flex-basis-2 {
  flex-basis: 50%;
}

.display {
  border-bottom: 1px solid grey;
  padding: 0 16px;
  text-align: end;
}

#second {
  color: grey;
  visibility: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 8px;
}

.col-calc {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  padding: 0 16px;
}

.col-history {
  width: 100%;
  max-width: 400px;
  margin-bottom: 1rem;
  padding: 0 16px;
}

.history h2 {
  margin: 0;
}

@media (min-width: 832px) {
  .row {
    justify-content: start;
    align-items: flex-start;
  }
}
